.orders {
  width: min(100%, var(--width-wrapper));
  margin: auto;
  @include respond-to(m) {
    padding: 0 10px;
  }


  &_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}