$mobile: 750px;
$tablet: 1200px;
$desktop: 1800px;

@mixin respond-to($media) {
  @if $media == m {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  } @else if $media == mm {
    @media only screen and (max-width: 359px) {
      @content;
    }
  } @else if $media == ls-m {
    @media only screen and (max-width: $mobile) and (orientation: landscape) {
      @content;
    }
  } @else if $media == p-m {
    @media only screen and (max-width: $mobile) and (orientation: portrait) {
      @content;
    }
  } @else if $media == t {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media == ls-t {
    @media only screen and (max-width: $tablet) and (orientation: landscape) {
      @content;
    }
  } @else if $media == p-t {
    @media only screen and (max-width: $tablet) and (orientation: portrait) {
      @content;
    }
  } @else if $media == only-t {
    @media only screen and (max-width: $tablet) and (min-width: $mobile) {
      @content;
    }

  } @else if $media == d {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  } @else if $media == dt {
    @media only screen and (min-width: $mobile) {
      @content;
    }
  } @else if $media == db {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  } @else if $media == dm {
    @media only screen and (max-width: $desktop) {
      @content;
    }

  } @else if $media == 1440 {
    @media only screen and (max-width: 1380px) and (orientation: landscape) {
      @content;
    }

  } @else if $media == hover {
    @media only screen and (min-width: $tablet + 1) {

      @content;

    }

  }
}

@mixin hover {
  @media only screen and (min-width: $tablet + 1) {
    &:hover {
      @content;
    }
  }
}

%h1-title {
  margin: 34px auto 40px;
  text-align: center;
  @include respond-to(t) {
    margin: 35px auto 20px;
    padding: 10px;
  }
}

%button {
  height: 60px;
  width: fit-content;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  &:before {
    opacity: 1;
    visibility: visible;
    background: linear-gradient(47.33deg, #F12711 -4.41%, #F5AF19 100%);
    z-index: -1;
  }

  &:after {
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(47.33deg, #F5AF19 -4.41%, #F12711 100%);
    z-index: -1;

  }

  @include hover {
    &:before {
      opacity: 0;
      visibility: hidden;
    }
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }


  @include respond-to(m) {
    height: 34px;
    font-size: 11px;
  }
}

%buttonWhite {
  @extend %button;
  color: rgba(0, 0, 0, 0.3);

  &:before {
    background: var(--color-white);
  }

  &:after {
    background: linear-gradient(47.33deg, #F5AF19 -4.41%, #F12711 100%);
  }

  @include hover {

    color: #fff;
  }
}