
.accumulated {
    background: #FFFFFF;
    border-radius: 100px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 20px auto 60px;
    width: fit-content;
    span {
        background: linear-gradient(47.33deg, #F12711 -4.41%, #F5AF19 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    @include respond-to(t) {
        margin-bottom: 30px;
    }
}