.homepage {
  @include respond-to(m) {
    padding: 0 10px;
  }

  .head {
    width: min(100%, var(--width-wrapper));
    margin: 80px auto 60px;
    text-align: center;
  }

  .text {
    font-size: 21px;
    color: var(--color-text);
    margin-top: 20px;
    font-family: var(--font-open-sans);
  }
}

.button_more {
  @extend %button;
  margin: 0 auto;
  width: fit-content;
}

.popularRandom {
  width: min(100%, var(--width-wrapper-large));
  display: flex;
  justify-content: center;
  gap: 55px;
  margin: 100px auto;
  @include respond-to(t) {
    flex-direction: column;
    align-items: center;
  }
}