.oferta {
  .lst-kix_sj3lse9wxtb2-7 > li:before {
    content: "-  "
  }

  ol.lst-kix_p24k19zbrqcy-5.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-5 0
  }

  .lst-kix_sj3lse9wxtb2-6 > li:before {
    content: "-  "
  }

  .lst-kix_sj3lse9wxtb2-8 > li:before {
    content: "-  "
  }

  .lst-kix_sj3lse9wxtb2-3 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-5.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-5 0
  }

  .lst-kix_sj3lse9wxtb2-2 > li:before {
    content: "-  "
  }

  .lst-kix_sj3lse9wxtb2-1 > li:before {
    content: "-  "
  }

  .lst-kix_sj3lse9wxtb2-0 > li:before {
    content: "-  "
  }

  .lst-kix_9glieh1t1627-7 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-7
  }

  ol.lst-kix_4uyhg8tvm7pt-3.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-3 0
  }

  .lst-kix_p24k19zbrqcy-7 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-7
  }

  .lst-kix_9glieh1t1627-5 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-5
  }

  ul.lst-kix_4pqp1xz85h-5 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-4 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-3 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-2 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-1 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-0 {
    list-style-type: none
  }

  .lst-kix_sj3lse9wxtb2-4 > li:before {
    content: "-  "
  }

  .lst-kix_4uyhg8tvm7pt-0 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-0
  }

  .lst-kix_sj3lse9wxtb2-5 > li:before {
    content: "-  "
  }

  ul.lst-kix_4pqp1xz85h-8 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-7 {
    list-style-type: none
  }

  ul.lst-kix_4pqp1xz85h-6 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-0.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-0 0
  }

  .lst-kix_9glieh1t1627-3 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-3
  }

  ol.lst-kix_4uyhg8tvm7pt-8.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-8 0
  }

  ol.lst-kix_p24k19zbrqcy-0.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-0 0
  }

  ul.lst-kix_lym6ouu4dedy-0 {
    list-style-type: none
  }

  ul.lst-kix_lym6ouu4dedy-1 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-5 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-5
  }

  ul.lst-kix_lym6ouu4dedy-2 {
    list-style-type: none
  }

  ul.lst-kix_lym6ouu4dedy-3 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-4 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-4
  }

  ul.lst-kix_lym6ouu4dedy-4 {
    list-style-type: none
  }

  ul.lst-kix_lym6ouu4dedy-5 {
    list-style-type: none
  }

  ul.lst-kix_lym6ouu4dedy-6 {
    list-style-type: none
  }

  ul.lst-kix_lym6ouu4dedy-7 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-7 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-7
  }

  ul.lst-kix_lym6ouu4dedy-8 {
    list-style-type: none
  }

  ol.lst-kix_4uyhg8tvm7pt-2.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-2 0
  }

  .lst-kix_58xfsfqzjz2r-0 > li:before {
    content: "-  "
  }

  ul.lst-kix_58xfsfqzjz2r-1 {
    list-style-type: none
  }

  ul.lst-kix_58xfsfqzjz2r-0 {
    list-style-type: none
  }

  ul.lst-kix_58xfsfqzjz2r-3 {
    list-style-type: none
  }

  ul.lst-kix_58xfsfqzjz2r-2 {
    list-style-type: none
  }

  .lst-kix_58xfsfqzjz2r-7 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-7 {
    list-style-type: none
  }

  ol.lst-kix_4uyhg8tvm7pt-6 {
    list-style-type: none
  }

  .lst-kix_s7nkfx6p0jpi-2 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-8 {
    list-style-type: none
  }

  .lst-kix_lym6ouu4dedy-1 > li:before {
    content: "-  "
  }

  .lst-kix_9glieh1t1627-0 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-0
  }

  .lst-kix_58xfsfqzjz2r-1 > li:before {
    content: "-  "
  }

  .lst-kix_s7nkfx6p0jpi-4 > li:before {
    content: "-  "
  }

  ul.lst-kix_bgkog66hh6q2-8 {
    list-style-type: none
  }

  .lst-kix_d7m0vxoc14uo-6 > li:before {
    content: "-  "
  }

  .lst-kix_lym6ouu4dedy-3 > li:before {
    content: "-  "
  }

  .lst-kix_lym6ouu4dedy-7 > li:before {
    content: "-  "
  }

  .lst-kix_58xfsfqzjz2r-3 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-3 {
    list-style-type: none
  }

  ol.lst-kix_4uyhg8tvm7pt-2 {
    list-style-type: none
  }

  .lst-kix_9glieh1t1627-1 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-1
  }

  .lst-kix_g44yvqw3gcly-1 > li:before {
    content: "-  "
  }

  .lst-kix_g44yvqw3gcly-3 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-5 {
    list-style-type: none
  }

  ol.lst-kix_4uyhg8tvm7pt-4 {
    list-style-type: none
  }

  .lst-kix_d7m0vxoc14uo-2 > li:before {
    content: "-  "
  }

  .lst-kix_d7m0vxoc14uo-4 > li:before {
    content: "-  "
  }

  .lst-kix_58xfsfqzjz2r-5 > li:before {
    content: "-  "
  }

  .lst-kix_lym6ouu4dedy-5 > li:before {
    content: "-  "
  }

  .lst-kix_s7nkfx6p0jpi-0 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-1 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-1 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-1
  }

  ol.lst-kix_4uyhg8tvm7pt-0 {
    list-style-type: none
  }

  .lst-kix_9glieh1t1627-2 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-2
  }

  .lst-kix_d7m0vxoc14uo-0 > li:before {
    content: "-  "
  }

  .lst-kix_4pqp1xz85h-0 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-2 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_eo8s9e5ka8ig-5 {
    list-style-type: none
  }

  ul.lst-kix_bgkog66hh6q2-1 {
    list-style-type: none
  }

  .lst-kix_4pqp1xz85h-2 > li:before {
    content: "-  "
  }

  ul.lst-kix_eo8s9e5ka8ig-6 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-6.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-6 0
  }

  ul.lst-kix_bgkog66hh6q2-0 {
    list-style-type: none
  }

  ul.lst-kix_eo8s9e5ka8ig-7 {
    list-style-type: none
  }

  ul.lst-kix_bgkog66hh6q2-3 {
    list-style-type: none
  }

  ul.lst-kix_eo8s9e5ka8ig-8 {
    list-style-type: none
  }

  ul.lst-kix_bgkog66hh6q2-2 {
    list-style-type: none
  }

  .lst-kix_eo8s9e5ka8ig-5 > li:before {
    content: "-  "
  }

  ul.lst-kix_bgkog66hh6q2-5 {
    list-style-type: none
  }

  ul.lst-kix_bgkog66hh6q2-4 {
    list-style-type: none
  }

  ul.lst-kix_bgkog66hh6q2-7 {
    list-style-type: none
  }

  .lst-kix_nyuqnhgib4lq-0 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-8 > li:before {
    content: "-  "
  }

  ul.lst-kix_bgkog66hh6q2-6 {
    list-style-type: none
  }

  ul.lst-kix_nyuqnhgib4lq-3 {
    list-style-type: none
  }

  ul.lst-kix_nyuqnhgib4lq-4 {
    list-style-type: none
  }

  ul.lst-kix_nyuqnhgib4lq-5 {
    list-style-type: none
  }

  ul.lst-kix_nyuqnhgib4lq-6 {
    list-style-type: none
  }

  .lst-kix_4pqp1xz85h-4 > li:before {
    content: "-  "
  }

  .lst-kix_4pqp1xz85h-6 > li:before {
    content: "-  "
  }

  .lst-kix_p24k19zbrqcy-0 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-0
  }

  ul.lst-kix_nyuqnhgib4lq-0 {
    list-style-type: none
  }

  ul.lst-kix_nyuqnhgib4lq-1 {
    list-style-type: none
  }

  .lst-kix_s7nkfx6p0jpi-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_nyuqnhgib4lq-2 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-3 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-3
  }

  .lst-kix_eo8s9e5ka8ig-3 > li:before {
    content: "-  "
  }

  .lst-kix_eo8s9e5ka8ig-1 > li:before {
    content: "-  "
  }

  .lst-kix_s7nkfx6p0jpi-8 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-4 > li:before {
    content: "-  "
  }

  ul.lst-kix_t6xb8fhci8d7-7 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-7 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-7, lower-latin) ". "
  }

  ul.lst-kix_t6xb8fhci8d7-6 {
    list-style-type: none
  }

  ul.lst-kix_t6xb8fhci8d7-8 {
    list-style-type: none
  }

  ul.lst-kix_t6xb8fhci8d7-3 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-5 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-5, lower-roman) ". "
  }

  ul.lst-kix_t6xb8fhci8d7-2 {
    list-style-type: none
  }

  ul.lst-kix_t6xb8fhci8d7-5 {
    list-style-type: none
  }

  ul.lst-kix_t6xb8fhci8d7-4 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-7 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-7, lower-latin) ". "
  }

  ul.lst-kix_t6xb8fhci8d7-1 {
    list-style-type: none
  }

  ul.lst-kix_t6xb8fhci8d7-0 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-3.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-3 0
  }

  ul.lst-kix_nyuqnhgib4lq-7 {
    list-style-type: none
  }

  ul.lst-kix_nyuqnhgib4lq-8 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-1 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-1, lower-latin) ". "
  }

  ul.lst-kix_eo8s9e5ka8ig-0 {
    list-style-type: none
  }

  .lst-kix_q5qu1lkjqw3e-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_eo8s9e5ka8ig-1 {
    list-style-type: none
  }

  ul.lst-kix_eo8s9e5ka8ig-2 {
    list-style-type: none
  }

  ul.lst-kix_eo8s9e5ka8ig-3 {
    list-style-type: none
  }

  ul.lst-kix_eo8s9e5ka8ig-4 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-3 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-3, decimal) ". "
  }

  .lst-kix_q5qu1lkjqw3e-8 > li:before {
    content: "-  "
  }

  .lst-kix_4uyhg8tvm7pt-2 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-2
  }

  .lst-kix_4uyhg8tvm7pt-8 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-8
  }

  .lst-kix_p24k19zbrqcy-5 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-5, lower-roman) ". "
  }

  ol.lst-kix_4uyhg8tvm7pt-0.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-0 0
  }

  .lst-kix_g44yvqw3gcly-5 > li:before {
    content: "-  "
  }

  .lst-kix_g44yvqw3gcly-7 > li:before {
    content: "-  "
  }

  ol.lst-kix_p24k19zbrqcy-4.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-4 0
  }

  .lst-kix_q5qu1lkjqw3e-4 > li:before {
    content: "-  "
  }

  .lst-kix_d7m0vxoc14uo-8 > li:before {
    content: "-  "
  }

  .lst-kix_q5qu1lkjqw3e-2 > li:before {
    content: "-  "
  }

  .lst-kix_4uyhg8tvm7pt-1 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-1, lower-latin) ". "
  }

  .lst-kix_q5qu1lkjqw3e-0 > li:before {
    content: "-  "
  }

  .lst-kix_4uyhg8tvm7pt-3 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-3, decimal) ". "
  }

  ol.lst-kix_4uyhg8tvm7pt-6.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-6 0
  }

  ul.lst-kix_s7nkfx6p0jpi-0 {
    list-style-type: none
  }

  .lst-kix_t6xb8fhci8d7-3 > li:before {
    content: "-  "
  }

  ol.lst-kix_p24k19zbrqcy-2.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-2 0
  }

  .lst-kix_t6xb8fhci8d7-0 > li:before {
    content: "-  "
  }

  .lst-kix_t6xb8fhci8d7-4 > li:before {
    content: "-  "
  }

  ol.lst-kix_p24k19zbrqcy-8.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-8 0
  }

  .lst-kix_t6xb8fhci8d7-1 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-2.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-2 0
  }

  .lst-kix_t6xb8fhci8d7-2 > li:before {
    content: "-  "
  }

  .lst-kix_t6xb8fhci8d7-8 > li:before {
    content: "-  "
  }

  .lst-kix_t6xb8fhci8d7-7 > li:before {
    content: "-  "
  }

  .lst-kix_t6xb8fhci8d7-5 > li:before {
    content: "-  "
  }

  .lst-kix_t6xb8fhci8d7-6 > li:before {
    content: "-  "
  }

  .lst-kix_9glieh1t1627-8 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-8
  }

  .lst-kix_p24k19zbrqcy-6 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-6
  }

  ol.lst-kix_4uyhg8tvm7pt-1.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-1 0
  }

  .lst-kix_4pqp1xz85h-8 > li:before {
    content: "-  "
  }

  ol.lst-kix_p24k19zbrqcy-7.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-7 0
  }

  .lst-kix_eo8s9e5ka8ig-7 > li:before {
    content: "-  "
  }

  .lst-kix_bgkog66hh6q2-8 > li:before {
    content: "-  "
  }

  .lst-kix_eo8s9e5ka8ig-6 > li:before {
    content: "-  "
  }

  .lst-kix_eo8s9e5ka8ig-8 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-7.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-7 0
  }

  .lst-kix_9glieh1t1627-2 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-2, lower-roman) ". "
  }

  .lst-kix_p24k19zbrqcy-2 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-2
  }

  .lst-kix_bgkog66hh6q2-0 > li:before {
    content: "-  "
  }

  .lst-kix_bgkog66hh6q2-2 > li:before {
    content: "-  "
  }

  .lst-kix_p24k19zbrqcy-8 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-8
  }

  .lst-kix_9glieh1t1627-1 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-1, lower-latin) ". "
  }

  .lst-kix_9glieh1t1627-5 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-5, lower-roman) ". "
  }

  .lst-kix_bgkog66hh6q2-1 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-1.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-1 0
  }

  .lst-kix_9glieh1t1627-6 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-6, decimal) ". "
  }

  ol.lst-kix_9glieh1t1627-8.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-8 0
  }

  .lst-kix_9glieh1t1627-0 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-0, decimal) ". "
  }

  .lst-kix_9glieh1t1627-8 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-8, lower-roman) ". "
  }

  .lst-kix_9glieh1t1627-7 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-7, lower-latin) ". "
  }

  .lst-kix_4uyhg8tvm7pt-1 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-1
  }

  .lst-kix_bgkog66hh6q2-7 > li:before {
    content: "-  "
  }

  ul.lst-kix_s7nkfx6p0jpi-8 {
    list-style-type: none
  }

  ul.lst-kix_s7nkfx6p0jpi-7 {
    list-style-type: none
  }

  ul.lst-kix_s7nkfx6p0jpi-6 {
    list-style-type: none
  }

  ul.lst-kix_s7nkfx6p0jpi-5 {
    list-style-type: none
  }

  ul.lst-kix_s7nkfx6p0jpi-4 {
    list-style-type: none
  }

  .lst-kix_bgkog66hh6q2-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_s7nkfx6p0jpi-3 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-1.start {
    counter-reset: lst-ctn-kix_p24k19zbrqcy-1 0
  }

  ul.lst-kix_s7nkfx6p0jpi-2 {
    list-style-type: none
  }

  .lst-kix_bgkog66hh6q2-5 > li:before {
    content: "-  "
  }

  .lst-kix_9glieh1t1627-6 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-6
  }

  ul.lst-kix_s7nkfx6p0jpi-1 {
    list-style-type: none
  }

  .lst-kix_bgkog66hh6q2-4 > li:before {
    content: "-  "
  }

  .lst-kix_9glieh1t1627-4 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-4, lower-latin) ". "
  }

  .lst-kix_9glieh1t1627-3 > li:before {
    content: "" counter(lst-ctn-kix_9glieh1t1627-3, decimal) ". "
  }

  .lst-kix_bgkog66hh6q2-3 > li:before {
    content: "-  "
  }

  .lst-kix_s7nkfx6p0jpi-1 > li:before {
    content: "-  "
  }

  .lst-kix_58xfsfqzjz2r-6 > li:before {
    content: "-  "
  }

  .lst-kix_58xfsfqzjz2r-8 > li:before {
    content: "-  "
  }

  .lst-kix_s7nkfx6p0jpi-3 > li:before {
    content: "-  "
  }

  ul.lst-kix_58xfsfqzjz2r-5 {
    list-style-type: none
  }

  .lst-kix_s7nkfx6p0jpi-5 > li:before {
    content: "-  "
  }

  .lst-kix_lym6ouu4dedy-0 > li:before {
    content: "-  "
  }

  ul.lst-kix_58xfsfqzjz2r-4 {
    list-style-type: none
  }

  .lst-kix_58xfsfqzjz2r-2 > li:before {
    content: "-  "
  }

  ul.lst-kix_58xfsfqzjz2r-7 {
    list-style-type: none
  }

  ul.lst-kix_58xfsfqzjz2r-6 {
    list-style-type: none
  }

  .lst-kix_lym6ouu4dedy-2 > li:before {
    content: "-  "
  }

  ul.lst-kix_58xfsfqzjz2r-8 {
    list-style-type: none
  }

  .lst-kix_lym6ouu4dedy-4 > li:before {
    content: "-  "
  }

  ul.lst-kix_g44yvqw3gcly-8 {
    list-style-type: none
  }

  ul.lst-kix_g44yvqw3gcly-7 {
    list-style-type: none
  }

  .lst-kix_g44yvqw3gcly-0 > li:before {
    content: "-  "
  }

  .lst-kix_d7m0vxoc14uo-5 > li:before {
    content: "-  "
  }

  ul.lst-kix_g44yvqw3gcly-0 {
    list-style-type: none
  }

  .lst-kix_g44yvqw3gcly-2 > li:before {
    content: "-  "
  }

  ul.lst-kix_g44yvqw3gcly-2 {
    list-style-type: none
  }

  .lst-kix_58xfsfqzjz2r-4 > li:before {
    content: "-  "
  }

  ul.lst-kix_g44yvqw3gcly-1 {
    list-style-type: none
  }

  .lst-kix_lym6ouu4dedy-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_g44yvqw3gcly-4 {
    list-style-type: none
  }

  ul.lst-kix_g44yvqw3gcly-3 {
    list-style-type: none
  }

  ul.lst-kix_g44yvqw3gcly-6 {
    list-style-type: none
  }

  ul.lst-kix_g44yvqw3gcly-5 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-5 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-5
  }

  .lst-kix_d7m0vxoc14uo-3 > li:before {
    content: "-  "
  }

  .lst-kix_eo8s9e5ka8ig-0 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-1 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-3 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-6.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-6 0
  }

  .lst-kix_d7m0vxoc14uo-1 > li:before {
    content: "-  "
  }

  .lst-kix_lym6ouu4dedy-8 > li:before {
    content: "-  "
  }

  ul.lst-kix_d7m0vxoc14uo-8 {
    list-style-type: none
  }

  .lst-kix_eo8s9e5ka8ig-4 > li:before {
    content: "-  "
  }

  .lst-kix_nyuqnhgib4lq-7 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-7.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-7 0
  }

  .lst-kix_4pqp1xz85h-1 > li:before {
    content: "-  "
  }

  ul.lst-kix_d7m0vxoc14uo-1 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-3.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-3 0
  }

  ul.lst-kix_d7m0vxoc14uo-0 {
    list-style-type: none
  }

  ul.lst-kix_d7m0vxoc14uo-3 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-6 > li {
    counter-increment: lst-ctn-kix_4uyhg8tvm7pt-6
  }

  ul.lst-kix_d7m0vxoc14uo-2 {
    list-style-type: none
  }

  .lst-kix_s7nkfx6p0jpi-7 > li:before {
    content: "-  "
  }

  ul.lst-kix_d7m0vxoc14uo-5 {
    list-style-type: none
  }

  ul.lst-kix_d7m0vxoc14uo-4 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-3 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-3
  }

  .lst-kix_4pqp1xz85h-3 > li:before {
    content: "-  "
  }

  ul.lst-kix_d7m0vxoc14uo-7 {
    list-style-type: none
  }

  .lst-kix_4pqp1xz85h-7 > li:before {
    content: "-  "
  }

  ul.lst-kix_d7m0vxoc14uo-6 {
    list-style-type: none
  }

  .lst-kix_eo8s9e5ka8ig-2 > li:before {
    content: "-  "
  }

  ol.lst-kix_4uyhg8tvm7pt-4.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-4 0
  }

  .lst-kix_nyuqnhgib4lq-5 > li:before {
    content: "-  "
  }

  .lst-kix_4pqp1xz85h-5 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-4 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-0 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-5 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-6 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-6 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-6, decimal) ". "
  }

  .lst-kix_4uyhg8tvm7pt-8 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-8, lower-roman) ". "
  }

  ol.lst-kix_9glieh1t1627-7 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-8 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-8, lower-roman) ". "
  }

  ol.lst-kix_9glieh1t1627-8 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-8 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-7 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-6 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-5 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-0 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-4 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-1 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-3 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-2 {
    list-style-type: none
  }

  .lst-kix_q5qu1lkjqw3e-5 > li:before {
    content: "-  "
  }

  ol.lst-kix_p24k19zbrqcy-2 {
    list-style-type: none
  }

  ol.lst-kix_9glieh1t1627-3 {
    list-style-type: none
  }

  ol.lst-kix_p24k19zbrqcy-1 {
    list-style-type: none
  }

  ul.lst-kix_q5qu1lkjqw3e-6 {
    list-style-type: none
  }

  ul.lst-kix_q5qu1lkjqw3e-5 {
    list-style-type: none
  }

  ul.lst-kix_q5qu1lkjqw3e-4 {
    list-style-type: none
  }

  ul.lst-kix_q5qu1lkjqw3e-3 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-2 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-2, lower-roman) ". "
  }

  ul.lst-kix_q5qu1lkjqw3e-2 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-4 > li {
    counter-increment: lst-ctn-kix_p24k19zbrqcy-4
  }

  ul.lst-kix_q5qu1lkjqw3e-1 {
    list-style-type: none
  }

  ul.lst-kix_q5qu1lkjqw3e-0 {
    list-style-type: none
  }

  .lst-kix_q5qu1lkjqw3e-7 > li:before {
    content: "-  "
  }

  .lst-kix_p24k19zbrqcy-4 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-4, lower-latin) ". "
  }

  .lst-kix_p24k19zbrqcy-6 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-6, decimal) ". "
  }

  ol.lst-kix_4uyhg8tvm7pt-5.start {
    counter-reset: lst-ctn-kix_4uyhg8tvm7pt-5 0
  }

  .lst-kix_9glieh1t1627-4 > li {
    counter-increment: lst-ctn-kix_9glieh1t1627-4
  }

  .lst-kix_g44yvqw3gcly-6 > li:before {
    content: "-  "
  }

  .lst-kix_g44yvqw3gcly-4 > li:before {
    content: "-  "
  }

  .lst-kix_g44yvqw3gcly-8 > li:before {
    content: "-  "
  }

  ol.lst-kix_9glieh1t1627-4.start {
    counter-reset: lst-ctn-kix_9glieh1t1627-4 0
  }

  ul.lst-kix_sj3lse9wxtb2-6 {
    list-style-type: none
  }

  ul.lst-kix_sj3lse9wxtb2-5 {
    list-style-type: none
  }

  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
  }

  ul.lst-kix_q5qu1lkjqw3e-8 {
    list-style-type: none
  }

  ul.lst-kix_sj3lse9wxtb2-8 {
    list-style-type: none
  }

  ul.lst-kix_q5qu1lkjqw3e-7 {
    list-style-type: none
  }

  ul.lst-kix_sj3lse9wxtb2-7 {
    list-style-type: none
  }

  ul.lst-kix_sj3lse9wxtb2-2 {
    list-style-type: none
  }

  .lst-kix_d7m0vxoc14uo-7 > li:before {
    content: "-  "
  }

  ul.lst-kix_sj3lse9wxtb2-1 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-0 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-0, decimal) ". "
  }

  ul.lst-kix_sj3lse9wxtb2-4 {
    list-style-type: none
  }

  .lst-kix_p24k19zbrqcy-0 > li:before {
    content: "" counter(lst-ctn-kix_p24k19zbrqcy-0, decimal) ". "
  }

  ul.lst-kix_sj3lse9wxtb2-3 {
    list-style-type: none
  }

  .lst-kix_q5qu1lkjqw3e-3 > li:before {
    content: "-  "
  }

  ul.lst-kix_sj3lse9wxtb2-0 {
    list-style-type: none
  }

  .lst-kix_4uyhg8tvm7pt-2 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-2, lower-roman) ". "
  }

  .lst-kix_4uyhg8tvm7pt-4 > li:before {
    content: "" counter(lst-ctn-kix_4uyhg8tvm7pt-4, lower-latin) ". "
  }

  .lst-kix_q5qu1lkjqw3e-1 > li:before {
    content: "-  "
  }

  ol {
    margin: 0;
    padding: 0
  }

  table td, table th {
    padding: 0
  }

  .c18 {
    border-right-style: solid;
    border-top-width: 0pt;
    border-bottom-color: #d9d9e3;
    border-right-width: 0pt;
    padding-left: 0pt;
    border-left-color: #d9d9e3;
    border-right-color: #d9d9e3;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-top-color: #d9d9e3;
    border-bottom-style: solid;
    padding-right: 0pt
  }

  .c0 {
    margin-left: 0pt;
    padding-top: 0pt;
    list-style-position: inside;
    text-indent: 45pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c19 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
  }

  .c2 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: italic
  }

  .c4 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
  }

  .c16 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: justify
  }

  .c9 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none
  }

  .c12 {
    color: inherit;
    text-decoration: inherit
  }

  .c7 {
    margin-left: 36pt;
    padding-left: 0pt
  }

  .c1 {
    font-weight: 700;
    font-family: "Courier New"
  }

  .c10 {
    padding: 0;
    margin: 0
  }

  .c3 {
    font-weight: 400;
    font-family: "Courier New"
  }

  .c17 {
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
  }

  .c8 {
  }

  .c14 {
  }

  .c15 {
    margin-left: 36pt
  }

  .c6 {
    height: 11pt
  }

  .c13 {
    font-style: italic
  }

  .c11 {
  }

  .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
  }

  p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
  }

  h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
  }
}