
.policy {
  .lst-kix_44t4cgg1pu29-3 > li:before {
    content: "\0025cf   "
  }

  .lst-kix_44t4cgg1pu29-4 > li:before {
    content: "\0025cb   "
  }

  .lst-kix_mioesc45ys68-8 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_44t4cgg1pu29-2 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_44t4cgg1pu29-6 > li:before {
    content: "\0025cf   "
  }

  .lst-kix_1wyah0v0eyjl-5 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-5
  }

  .lst-kix_44t4cgg1pu29-0 > li:before {
    content: "  "
  }

  .lst-kix_44t4cgg1pu29-7 > li:before {
    content: "\0025cb   "
  }

  .lst-kix_44t4cgg1pu29-8 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_44t4cgg1pu29-1 > li:before {
    content: "\0025cb   "
  }

  .lst-kix_mioesc45ys68-2 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_mioesc45ys68-3 > li:before {
    content: "\0025cf   "
  }

  ul.lst-kix_abn3crwlyz1x-8 {
    list-style-type: none
  }

  .lst-kix_mioesc45ys68-4 > li:before {
    content: "\0025cb   "
  }

  ul.lst-kix_abn3crwlyz1x-7 {
    list-style-type: none
  }

  ul.lst-kix_abn3crwlyz1x-4 {
    list-style-type: none
  }

  .lst-kix_mioesc45ys68-6 > li:before {
    content: "\0025cf   "
  }

  .lst-kix_mioesc45ys68-7 > li:before {
    content: "\0025cb   "
  }

  ul.lst-kix_abn3crwlyz1x-3 {
    list-style-type: none
  }

  ul.lst-kix_abn3crwlyz1x-6 {
    list-style-type: none
  }

  ul.lst-kix_abn3crwlyz1x-5 {
    list-style-type: none
  }

  ul.lst-kix_abn3crwlyz1x-0 {
    list-style-type: none
  }

  .lst-kix_mioesc45ys68-5 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_44t4cgg1pu29-5 > li:before {
    content: "\0025a0   "
  }

  ul.lst-kix_abn3crwlyz1x-2 {
    list-style-type: none
  }

  ul.lst-kix_abn3crwlyz1x-1 {
    list-style-type: none
  }

  .lst-kix_1wyah0v0eyjl-4 > li:before {
    content: "(" counter(lst-ctn-kix_1wyah0v0eyjl-4, lower-latin) ") "
  }

  .lst-kix_1wyah0v0eyjl-6 > li:before {
    content: "" counter(lst-ctn-kix_1wyah0v0eyjl-6, decimal) ". "
  }

  .lst-kix_1wyah0v0eyjl-1 > li:before {
    content: "" counter(lst-ctn-kix_1wyah0v0eyjl-1, lower-latin) ") "
  }

  .lst-kix_1wyah0v0eyjl-5 > li:before {
    content: "(" counter(lst-ctn-kix_1wyah0v0eyjl-5, lower-roman) ") "
  }

  .lst-kix_1wyah0v0eyjl-2 > li:before {
    content: "" counter(lst-ctn-kix_1wyah0v0eyjl-2, lower-roman) ") "
  }

  .lst-kix_1wyah0v0eyjl-3 > li:before {
    content: "(" counter(lst-ctn-kix_1wyah0v0eyjl-3, decimal) ") "
  }

  ol.lst-kix_1wyah0v0eyjl-3.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-3 0
  }

  .lst-kix_1wyah0v0eyjl-0 > li:before {
    content: "" counter(lst-ctn-kix_1wyah0v0eyjl-0, decimal) ") "
  }

  .lst-kix_roekvui70ndx-7 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-8 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-5 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-6 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-0 > li:before {
    content: "-  "
  }

  ol.lst-kix_1wyah0v0eyjl-0 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-2.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-2 0
  }

  .lst-kix_roekvui70ndx-1 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-4 > li:before {
    content: "-  "
  }

  .lst-kix_1wyah0v0eyjl-8 > li:before {
    content: "" counter(lst-ctn-kix_1wyah0v0eyjl-8, lower-roman) ". "
  }

  .lst-kix_bgc0yz1k5ss2-5 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-2 > li:before {
    content: "-  "
  }

  .lst-kix_bgc0yz1k5ss2-4 > li:before {
    content: "-  "
  }

  .lst-kix_roekvui70ndx-3 > li:before {
    content: "-  "
  }

  .lst-kix_1wyah0v0eyjl-7 > li:before {
    content: "" counter(lst-ctn-kix_1wyah0v0eyjl-7, lower-latin) ". "
  }

  .lst-kix_1wyah0v0eyjl-7 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-7
  }

  .lst-kix_1wyah0v0eyjl-1 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-1
  }

  .lst-kix_bgc0yz1k5ss2-6 > li:before {
    content: "-  "
  }

  .lst-kix_bgc0yz1k5ss2-7 > li:before {
    content: "-  "
  }

  .lst-kix_mioesc45ys68-1 > li:before {
    content: "\0025cb   "
  }

  .lst-kix_bgc0yz1k5ss2-8 > li:before {
    content: "-  "
  }

  .lst-kix_mioesc45ys68-0 > li:before {
    content: "  "
  }

  ol.lst-kix_1wyah0v0eyjl-8.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-8 0
  }

  .lst-kix_89fykq4vs7vi-7 > li:before {
    content: "-  "
  }

  ul.lst-kix_mioesc45ys68-0 {
    list-style-type: none
  }

  ul.lst-kix_mioesc45ys68-1 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-1.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-1 0
  }

  .lst-kix_jwwdtrgcgd8c-7 > li:before {
    content: "-  "
  }

  .lst-kix_1wyah0v0eyjl-0 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-0
  }

  .lst-kix_99yaju4uwppt-1 > li:before {
    content: "-  "
  }

  .lst-kix_99yaju4uwppt-3 > li:before {
    content: "-  "
  }

  .lst-kix_99yaju4uwppt-5 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-7 > li:before {
    content: "\0025cb   "
  }

  .lst-kix_bgc0yz1k5ss2-2 > li:before {
    content: "-  "
  }

  ol.lst-kix_1wyah0v0eyjl-6 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-5 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-8 {
    list-style-type: none
  }

  .lst-kix_99yaju4uwppt-7 > li:before {
    content: "-  "
  }

  ol.lst-kix_1wyah0v0eyjl-7 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-2 {
    list-style-type: none
  }

  .lst-kix_jwwdtrgcgd8c-5 > li:before {
    content: "-  "
  }

  ol.lst-kix_1wyah0v0eyjl-1 {
    list-style-type: none
  }

  .lst-kix_bgc0yz1k5ss2-0 > li:before {
    content: "-  "
  }

  ol.lst-kix_1wyah0v0eyjl-4 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-3 {
    list-style-type: none
  }

  .lst-kix_jwwdtrgcgd8c-3 > li:before {
    content: "-  "
  }

  .lst-kix_jwwdtrgcgd8c-1 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-8 > li:before {
    content: "-  "
  }

  .lst-kix_a4hbnss7ub1p-7 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-4 > li:before {
    content: "-  "
  }

  .lst-kix_a4hbnss7ub1p-3 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-1 > li:before {
    content: "\0025cb   "
  }

  .lst-kix_qup47lq39e6e-6 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-3 > li:before {
    content: "\0025cf   "
  }

  .lst-kix_1wksy1eygsox-5 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_a4hbnss7ub1p-5 > li:before {
    content: "-  "
  }

  .lst-kix_a4hbnss7ub1p-1 > li:before {
    content: "-  "
  }

  ul.lst-kix_mioesc45ys68-4 {
    list-style-type: none
  }

  .lst-kix_89fykq4vs7vi-3 > li:before {
    content: "-  "
  }

  ul.lst-kix_mioesc45ys68-5 {
    list-style-type: none
  }

  ul.lst-kix_mioesc45ys68-2 {
    list-style-type: none
  }

  ul.lst-kix_mioesc45ys68-3 {
    list-style-type: none
  }

  .lst-kix_1wyah0v0eyjl-6 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-6
  }

  ul.lst-kix_mioesc45ys68-8 {
    list-style-type: none
  }

  .lst-kix_89fykq4vs7vi-1 > li:before {
    content: "-  "
  }

  .lst-kix_89fykq4vs7vi-5 > li:before {
    content: "-  "
  }

  ul.lst-kix_mioesc45ys68-6 {
    list-style-type: none
  }

  ul.lst-kix_mioesc45ys68-7 {
    list-style-type: none
  }

  .lst-kix_d9ghxatigo8-7 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-8 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-6 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-3 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-4 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-5 > li:before {
    content: "-  "
  }

  ul.lst-kix_roekvui70ndx-8 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-7 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-0 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-2 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-1 {
    list-style-type: none
  }

  .lst-kix_1wyah0v0eyjl-4 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-4
  }

  ul.lst-kix_roekvui70ndx-4 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-3 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-6 {
    list-style-type: none
  }

  ul.lst-kix_44t4cgg1pu29-7 {
    list-style-type: none
  }

  ul.lst-kix_roekvui70ndx-5 {
    list-style-type: none
  }

  .lst-kix_abn3crwlyz1x-0 > li:before {
    content: "-  "
  }

  ul.lst-kix_44t4cgg1pu29-8 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-0.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-0 0
  }

  .lst-kix_d9ghxatigo8-0 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-0 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-2 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-2 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-1 > li:before {
    content: "-  "
  }

  .lst-kix_d9ghxatigo8-1 > li:before {
    content: "-  "
  }

  .lst-kix_1wyah0v0eyjl-8 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-8
  }

  ul.lst-kix_1wksy1eygsox-6 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-7 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-8 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-2 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-3 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-4 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-5 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-0 {
    list-style-type: none
  }

  ul.lst-kix_1wksy1eygsox-1 {
    list-style-type: none
  }

  ul.lst-kix_44t4cgg1pu29-5 {
    list-style-type: none
  }

  ul.lst-kix_44t4cgg1pu29-6 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-0 {
    list-style-type: none
  }

  ul.lst-kix_44t4cgg1pu29-3 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-1 {
    list-style-type: none
  }

  .lst-kix_abn3crwlyz1x-1 > li:before {
    content: "-  "
  }

  .lst-kix_abn3crwlyz1x-3 > li:before {
    content: "-  "
  }

  ul.lst-kix_44t4cgg1pu29-4 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-2 {
    list-style-type: none
  }

  ul.lst-kix_44t4cgg1pu29-1 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-3 {
    list-style-type: none
  }

  ul.lst-kix_44t4cgg1pu29-2 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-4 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-5 {
    list-style-type: none
  }

  .lst-kix_abn3crwlyz1x-2 > li:before {
    content: "-  "
  }

  .lst-kix_abn3crwlyz1x-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_44t4cgg1pu29-0 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-6 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-7 {
    list-style-type: none
  }

  ul.lst-kix_89fykq4vs7vi-8 {
    list-style-type: none
  }

  .lst-kix_abn3crwlyz1x-5 > li:before {
    content: "-  "
  }

  .lst-kix_abn3crwlyz1x-4 > li:before {
    content: "-  "
  }

  ul.lst-kix_99yaju4uwppt-2 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-3 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-0 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-1 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-6 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-7 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-4 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-5 {
    list-style-type: none
  }

  ul.lst-kix_99yaju4uwppt-8 {
    list-style-type: none
  }

  .lst-kix_abn3crwlyz1x-7 > li:before {
    content: "-  "
  }

  .lst-kix_abn3crwlyz1x-8 > li:before {
    content: "-  "
  }

  ul.lst-kix_bgc0yz1k5ss2-8 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-7 {
    list-style-type: none
  }

  ul.lst-kix_bgc0yz1k5ss2-7 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-8 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-6 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-3 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-5 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-4 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-8 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-8 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-5 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-7 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-7 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-6 {
    list-style-type: none
  }

  .lst-kix_99yaju4uwppt-0 > li:before {
    content: "-  "
  }

  ul.lst-kix_a4hbnss7ub1p-0 {
    list-style-type: none
  }

  .lst-kix_89fykq4vs7vi-8 > li:before {
    content: "-  "
  }

  ul.lst-kix_a4hbnss7ub1p-1 {
    list-style-type: none
  }

  ul.lst-kix_a4hbnss7ub1p-2 {
    list-style-type: none
  }

  .lst-kix_jwwdtrgcgd8c-8 > li:before {
    content: "-  "
  }

  .lst-kix_99yaju4uwppt-2 > li:before {
    content: "-  "
  }

  ul.lst-kix_bgc0yz1k5ss2-4 {
    list-style-type: none
  }

  ul.lst-kix_bgc0yz1k5ss2-3 {
    list-style-type: none
  }

  ul.lst-kix_bgc0yz1k5ss2-6 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-4.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-4 0
  }

  ol.lst-kix_1wyah0v0eyjl-7.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-7 0
  }

  ul.lst-kix_bgc0yz1k5ss2-5 {
    list-style-type: none
  }

  ul.lst-kix_bgc0yz1k5ss2-0 {
    list-style-type: none
  }

  ul.lst-kix_bgc0yz1k5ss2-2 {
    list-style-type: none
  }

  ul.lst-kix_bgc0yz1k5ss2-1 {
    list-style-type: none
  }

  .lst-kix_99yaju4uwppt-4 > li:before {
    content: "-  "
  }

  .lst-kix_bgc0yz1k5ss2-3 > li:before {
    content: "-  "
  }

  .lst-kix_jwwdtrgcgd8c-0 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-6 > li:before {
    content: "\0025cf   "
  }

  .lst-kix_99yaju4uwppt-6 > li:before {
    content: "-  "
  }

  .lst-kix_jwwdtrgcgd8c-4 > li:before {
    content: "-  "
  }

  .lst-kix_bgc0yz1k5ss2-1 > li:before {
    content: "-  "
  }

  .lst-kix_jwwdtrgcgd8c-6 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-8 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_99yaju4uwppt-8 > li:before {
    content: "-  "
  }

  ul.lst-kix_d9ghxatigo8-1 {
    list-style-type: none
  }

  ul.lst-kix_d9ghxatigo8-2 {
    list-style-type: none
  }

  ul.lst-kix_d9ghxatigo8-3 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-0 {
    list-style-type: none
  }

  ul.lst-kix_d9ghxatigo8-4 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-2 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-1 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-4 {
    list-style-type: none
  }

  ul.lst-kix_d9ghxatigo8-0 {
    list-style-type: none
  }

  ul.lst-kix_jwwdtrgcgd8c-3 {
    list-style-type: none
  }

  .lst-kix_1wyah0v0eyjl-2 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-2
  }

  ul.lst-kix_d9ghxatigo8-5 {
    list-style-type: none
  }

  ul.lst-kix_d9ghxatigo8-6 {
    list-style-type: none
  }

  .lst-kix_jwwdtrgcgd8c-2 > li:before {
    content: "-  "
  }

  ul.lst-kix_d9ghxatigo8-7 {
    list-style-type: none
  }

  ul.lst-kix_d9ghxatigo8-8 {
    list-style-type: none
  }

  ol.lst-kix_1wyah0v0eyjl-6.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-6 0
  }

  .lst-kix_qup47lq39e6e-5 > li:before {
    content: "-  "
  }

  .lst-kix_a4hbnss7ub1p-8 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-3 > li:before {
    content: "-  "
  }

  .lst-kix_1wyah0v0eyjl-3 > li {
    counter-increment: lst-ctn-kix_1wyah0v0eyjl-3
  }

  .lst-kix_a4hbnss7ub1p-2 > li:before {
    content: "-  "
  }

  .lst-kix_a4hbnss7ub1p-6 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-2 > li:before {
    content: "\0025a0   "
  }

  .lst-kix_a4hbnss7ub1p-4 > li:before {
    content: "-  "
  }

  .lst-kix_qup47lq39e6e-7 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-4 > li:before {
    content: "\0025cb   "
  }

  ol.lst-kix_1wyah0v0eyjl-5.start {
    counter-reset: lst-ctn-kix_1wyah0v0eyjl-5 0
  }

  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
  }

  .lst-kix_89fykq4vs7vi-0 > li:before {
    content: "-  "
  }

  .lst-kix_a4hbnss7ub1p-0 > li:before {
    content: "-  "
  }

  .lst-kix_1wksy1eygsox-0 > li:before {
    content: "  "
  }

  ul.lst-kix_qup47lq39e6e-2 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-1 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-0 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-6 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-5 {
    list-style-type: none
  }

  ul.lst-kix_qup47lq39e6e-4 {
    list-style-type: none
  }

  .lst-kix_89fykq4vs7vi-2 > li:before {
    content: "-  "
  }

  .lst-kix_89fykq4vs7vi-6 > li:before {
    content: "-  "
  }

  ul.lst-kix_qup47lq39e6e-3 {
    list-style-type: none
  }

  .lst-kix_89fykq4vs7vi-4 > li:before {
    content: "-  "
  }

  ol {
    margin: 0;
    padding: 0
  }

  table td, table th {
    padding: 0
  }

  .c10 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-bottom-color: #000000;
    border-right-width: 0pt;
    padding-left: 0pt;
    border-left-color: #000000;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-top-color: #000000;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-right: 0pt
  }

  .c5 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    border-top-style: solid;
    margin-left: 36pt;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-right: 0pt
  }

  .c22 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    border-top-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-right: 0pt
  }

  .c37 {
    border-right-style: solid;
    border-top-width: 0pt;
    border-bottom-color: #d9d9e3;
    border-right-width: 0pt;
    padding-left: 0pt;
    border-left-color: #d9d9e3;
    border-right-color: #d9d9e3;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-top-color: #d9d9e3;
    border-bottom-style: solid;
    padding-right: 0pt
  }

  .c30 {
    color: #374151;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Roboto";
    font-style: normal
  }

  .c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
  }

  .c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
  }

  .c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Courier New";
    font-style: normal
  }

  .c15 {
    padding-top: 0pt;
    padding-bottom: 11pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c13 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center
  }

  .c23 {
    padding-top: 0pt;
    padding-bottom: 12pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c26 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c38 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  .c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
  }

  .c34 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  .c2 {
    font-family: "Courier New";
    color: #181818;
    font-weight: 400
  }

  .c36 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-style: normal
  }

  .c7 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
  }

  .c17 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none
  }

  .c28 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt
  }

  .c4 {
    font-family: "Courier New";
    font-weight: 400
  }

  .c25 {
    margin-left: 0pt;
    list-style-position: inside;
    text-indent: 45pt
  }

  .c20 {
    color: inherit;
    text-decoration: inherit
  }

  .c6 {
    font-weight: 400;
    font-family: "Courier New"
  }

  .c24 {
    font-weight: 700;
    font-family: "Calibri"
  }

  .c39 {
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
  }

  .c31 {
    padding: 0;
    margin: 0
  }

  .c14 {
    margin-left: 36pt;
    padding-left: 0pt
  }

  .c29 {
    font-weight: 400;
    font-family: "Arial"
  }

  .c1 {
    font-weight: 700;
    font-family: "Courier New"
  }

  .c35 {
    font-weight: 400;
    font-family: "Calibri"
  }

  .c16 {
    height: 11pt
  }

  .c9 {
    color: #000000
  }

  .c18 {
    font-style: italic
  }

  .c27 {
    margin-left: 36pt
  }

  .c19 {
  }

  .c32 {
  }

  .c21 {
    color: #181818
  }

  .c8 {
  }

  .c33 {
    color: #221f1f
  }

  .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
  }

  p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
  }

  h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
  }

  h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
  }
}