.reportingFunds {
  border-top: 1px solid #E0E0E0;
  width: calc(var(--width-wrapper) - 230px);
  margin-top: 40px;

  @include respond-to(t) {
    margin-top: 0;
    width: var(--width-wrapper);
  }

  &_item {
    padding: 30px 0;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include respond-to(t) {
      flex-direction: column;
      padding: 26px 0;
    }

    &_count {
      font-size: 26px;
      line-height: 32px;
      font-weight: 700;
      flex: 0 0 auto;
    }

    &_link {
      flex: 0 0 auto;
      transition: .3s;
      @include hover {
        opacity: 0.4;
      }
    }
  }
}
.attachments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
