.faqPage {
  margin: 30px auto;
  padding: 0 10px;

  &_inner {
    width: var(--width-wrapper);
  }

  &_head {
    text-align: center;
  }

  &_cont {
    margin-top: 30px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_item {
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid #BDBDBD;
    line-height: 1.6;
    box-shadow: 0 2px 20px 0 rgba(#000000, 0.05);
    position: relative;

    &.open &_answer {
      grid-template-rows: 1fr;
      padding: 0 30px 30px;
    }

    &.open &_question::after {
      opacity: 0;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      opacity: .4;
      position: absolute;
    }

    &_question,
    &_answer {
      position: relative;
    }

    &_question {
      padding: 20px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      text-align: left;
      font-size: 21px;
      background-color: transparent;

      @include respond-to(m) {
        font-size: 16px;
        line-height: normal;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #000000;
        right: 30px;
        top: 50%;
        transition: .3s ease-out;
      }

      &::after {
        transform: rotate(-90deg);
      }

      span {
        display: flex;
        gap: 20px;
        padding-right: 30px;

        &::before {
          content: '?';
          display: block;
          background: linear-gradient(47deg, #F12711 0%, #F5AF19 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 21px;
          font-weight: 700;

          @include respond-to(m) {
            display: none;
          }
        }
      }
    }

    &_answer {
      display: grid;
      grid-template-rows: 0fr;
      transition: .3s ease-out;
      padding: 0 30px;

      @include respond-to(m) {
        font-size: 12px;
      }

      & > div {
        overflow: hidden;
      }
    }
  }
}
