
.input {
  width: 100%;
  display: block;
  border: 1px solid #808080;
  border-radius: 20px;
  height: 73px;
  padding: 0 20px;
  transition: all .2s;
  font-size: 16px;

  &_fieldset {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  &_label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 12px;
    transition: all .2s;
    font-family: var(--font-open-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    color: #808080;
    opacity: 0;
    visibility: hidden;
  }

  &::placeholder {
    color: #808080;
  }

  &:disabled {
    opacity: 0.7;
  }

  &:not(:placeholder-shown) {
    padding-top: 20px;

    & + label {
      opacity: 1;
      visibility: visible;
    }
  }
}

.checkbox {
  display: none;

  &_label {
    font-family: var(--font-open-sans);
    font-size: 13px;
    line-height: 1.6;
    color: #000000;
    display: flex;
    gap: 15px;
    align-items: center;

    a {
      font-family: inherit;
      text-decoration: underline;

      @include hover {
        color: #F12711 !important;
      }
    }
  }
}

.check {
  width: 28px;
  height: 28px;
  border: 1px solid #808080;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background: linear-gradient(47.33deg, #F12711 -4.41%, #F5AF19 100%);
    border-radius: 4px;
    display: none;
  }
}

.checkbox:checked + label .check:before {
  display: block;
}




