.h1 {
  text-align: center;
  margin-bottom: 60px;
}

.layout {
  margin: 0 auto 0;
  width: min(100%, var(--width-wrapper));
  display: flex;
  justify-content: space-between;
  @include respond-to(t) {
    flex-direction: column;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
    padding: 10px 20px;
    transition: all .3s;
    border-radius: 20px;
    border: 1px solid transparent;

    @include respond-to(t) {
      margin: auto;
    }
    &.active {
      color: var(--color-black);
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
    }

    @include hover {
      color: var(--color-black);
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
    }
  }
}

.content {
  width: 785px;
  @include respond-to(t) {
    width: 100%;
    padding: 10px;
    margin-top: 60px;
  }
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
  @include respond-to(t) {
    margin-bottom: 40px;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
  @include respond-to(t) {
    margin-left: 20px;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}